#welcome{
    /* position: absolute; */
    text-align: center;
    border: solid gray 2px;
    width: 50%;
    margin: auto;
    margin-top: 300px;
    padding-bottom: 30px;
    min-width: 300px;
}
 
a {
    float: right;
    margin: 2px;
    padding: 2px;
    text-decoration: none;

}

a:hover {
    color: red;
}

h1{
    text-align: center;
}

/* .review-table {
    width: 70%;
    margin: auto;
} */

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    }
th {
    text-align: center;
}    

.question{
    width: 70%;
}
#question{
    border-right: lightblue 1px solid;
}
#answer{
    text-align: center;
}
tr:nth-child(even) {
    background-color: rgba(201, 230, 173, 0.205);
}

tr:hover {background-color:lightgray;}

#hide {
    display: none;
}

#test {
    position: fixed;
    width: 50%;
    /* margin: auto; */
    border: 1px solid lightgray;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    min-width: 300px;
    /* padding-left: 15px; */
}
h3 {
    padding: 15px;
}
li {
    /* display: list-item; */
    /* margin-top: 10px; */
    list-style-type: none;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid lightgray;
    font-size: large;
    cursor: pointer;
}

.selected {
    background-color: rgba(144, 238, 186, 0.5);
}

button {
    width: 35%;
    /* width: 100px; */
    margin-top: 15px;
    margin-bottom:15px;
    margin-left: 35%;
    height:30px;
}
.return {
    float: right;
    padding-top: 30px;
}

p {
    text-align: right;
    padding-right: 10px;
}

#result {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    border: 1px lightgray solid;
    text-align: center;
}